body {
  background-color: white;
  color: #111;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin: 0 auto;
  max-width: 90%;
  line-height: 1.4;
  width: 670px;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

h1 {
  font-size: 68px;
  font-size: clamp(2vw, 68px, 10vw);
  line-height: 1.25;
}

img {
  max-width: 100%;
}

header {
  position: sticky;
  top: 0;
}

details summary {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
  padding: 7px 10px;
}

details summary > * {
  display: inline;
}

nav {
  border: 1px solid #ccc;
  border-radius: 2px;
  display: flex;
  flex-flow: column wrap;
  padding: 7px 10px;
}
