body {
  background-color: white;
  color: #111;
  margin: 0 auto;
  max-width: 90%;
  width: 960px;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

p {
  font-family: "Inter", sans-serif;
}